---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<open_weather_key>&exclude=minutely,alerts&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1646536115,"sunrise":1646486827,"sunset":1646528160,"temp":28.15,"feels_like":24.96,"pressure":1015,"humidity":68,"dew_point":19.99,"uvi":0,"clouds":99,"visibility":10000,"wind_speed":3,"wind_deg":131,"wind_gust":7,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}]},"hourly":[{"dt":1646535600,"temp":28.15,"feels_like":20.84,"pressure":1015,"humidity":68,"dew_point":19.99,"uvi":0,"clouds":99,"visibility":10000,"wind_speed":7.02,"wind_deg":77,"wind_gust":5.68,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0.12},{"dt":1646539200,"temp":28.6,"feels_like":21.65,"pressure":1016,"humidity":66,"dew_point":19.81,"uvi":0,"clouds":99,"visibility":10000,"wind_speed":6.67,"wind_deg":55,"wind_gust":5.3,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0.12},{"dt":1646542800,"temp":28.8,"feels_like":21.85,"pressure":1017,"humidity":64,"dew_point":19.36,"uvi":0,"clouds":99,"visibility":10000,"wind_speed":6.71,"wind_deg":69,"wind_gust":4.45,"weather":[{"id":601,"main":"Snow","description":"snow","icon":"13n"}],"pop":0.28,"snow":{"1h":2.05}},{"dt":1646546400,"temp":28.69,"feels_like":20.93,"pressure":1017,"humidity":64,"dew_point":19.26,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":7.83,"wind_deg":78,"wind_gust":5.91,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0.12},{"dt":1646550000,"temp":28.26,"feels_like":20.3,"pressure":1018,"humidity":65,"dew_point":19.17,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":7.99,"wind_deg":86,"wind_gust":7.43,"weather":[{[...]
