---
http_interactions:
- request:
    method: get
    uri: https://www.flickr.com/services/rest?accuracy=11&api_key=<flickr_key>&content_type=1&extras=license,owner_name,url_l,url_t&format=json&geo_context=2&media=photos&method=flickr.photos.search&nojsoncallback=1&privacy_filter=1&safe_search=1&text=denver%20co%20evening%20snow
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photos":{"page":1,"pages":2,"perpage":250,"total":421,"photo":[{"id":"51134665750","owner":"29544031@N02","secret":"f023eefeaf","server":"65535","farm":66,"title":"F9
        A320-251N N334FR","ispublic":1,"isfriend":0,"isfamily":0,"license":"0","ownername":"kenjet","url_l":"https:\/\/live.staticflickr.com\/65535\/51134665750_f023eefeaf_b.jpg","height_l":402,"width_l":1024,"url_t":"https:\/\/live.staticflickr.com\/65535\/51134665750_f023eefeaf_t.jpg","height_t":39,"width_t":100},{"id":"51134665735","owner":"29544031@N02","secret":"faa24d2582","server":"65535","farm":66,"title":"F9
        A320-251N N334FR","ispublic":1,"isfriend":0,"isfamily":0,"license":"0","ownername":"kenjet","url_l":"https:\/\/live.staticflickr.com\/65535\/51134665735_faa24d2582_b.jpg","height_l":768,"width_l":1024,"url_t":"https:\/\/live.staticflickr.com\/65535\/51134665735_faa24d2582_t.jpg","height_t":75,"width_t":100},{"id":"51134325849","owner":"29544031@N02","secret":"1f7c18074c","server":[...]
