---
http_interactions:
- request:
    method: get
    uri: https://www.flickr.com/services/rest?accuracy=11&api_key=<flickr_key>&content_type=1&extras=license,owner_name,url_l,url_t&format=json&geo_context=2&media=photos&method=flickr.photos.search&nojsoncallback=1&privacy_filter=1&safe_search=1&text=dfasdfasdfasfsdfas%20skyline
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photos":{"page":1,"pages":0,"perpage":250,"total":0,"photo":[]},"stat":"ok"}'
  recorded_at: Wed, 09 Mar 2022 06:26:33 GMT
recorded_with: VCR 6.0.0
