---
http_interactions:
- request:
    method: get
    uri: https://www.flickr.com/services/rest?accuracy=11&api_key=<flickr_key>&content_type=1&extras=license,owner_name,url_l,url_t&format=json&geo_context=2&media=photos&method=flickr.photos.search&nojsoncallback=1&privacy_filter=1&safe_search=1&text=denver,co%20skyline
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photos":{"page":1,"pages":1,"perpage":250,"total":84,"photo":[{"id":"43691964192","owner":"8121206@N07","secret":"4ff507454d","server":"930","farm":1,"title":"Denver
        Skyline","ispublic":1,"isfriend":0,"isfamily":0,"license":"0","ownername":"Christopher
        Wallace","url_l":"https:\/\/live.staticflickr.com\/930\/43691964192_4ff507454d_b.jpg","height_l":683,"width_l":1024,"url_t":"https:\/\/live.staticflickr.com\/930\/43691964192_4ff507454d_t.jpg","height_t":67,"width_t":100},{"id":"43261940402","owner":"11581147@N06","secret":"083afb5389","server":"1786","farm":2,"title":"Denver
        Skyline from CO-93_P1030095c","ispublic":1,"isfriend":0,"isfamily":0,"license":"0","ownername":"Wampa-One","url_l":"https:\/\/live.staticflickr.com\/1786\/43261940402_083afb5389_b.jpg","height_l":683,"width_l":1024,"url_t":"https:\/\/live.staticflickr.com\/1786\/43261940402_083afb5389_t.jpg","height_t":67,"width_t":100},{"id":"38743877730","owner":"25273938@N03","secret":"16ff50[...]
