---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<open_weather_key>&exclude=minutely,alerts&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1646674110,"sunrise":1646659442,"sunset":1646701087,"temp":24.96,"feels_like":24.96,"pressure":1026,"humidity":61,"dew_point":14.68,"uvi":2.61,"clouds":88,"visibility":10000,"wind_speed":1.99,"wind_deg":300,"wind_gust":4,"weather":[{"id":601,"main":"Snow","description":"snow","icon":"13d"}],"snow":{"1h":0.76}},"hourly":[{"dt":1646672400,"temp":24.96,"feels_like":19.18,"pressure":1026,"humidity":61,"dew_point":14.68,"uvi":2.61,"clouds":88,"visibility":10000,"wind_speed":4.65,"wind_deg":138,"wind_gust":5.46,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0},{"dt":1646676000,"temp":25.34,"feels_like":21.09,"pressure":1026,"humidity":57,"dew_point":13.68,"uvi":3.48,"clouds":88,"visibility":10000,"wind_speed":3.47,"wind_deg":121,"wind_gust":4.16,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0},{"dt":1646679600,"temp":26.56,"feels_like":22.6,"pressure":1026,"humidity":52,"dew_point":12.97,"uvi":3.72,"clouds":89,"visibility":10000,"wind_speed":3.38,"wind_deg":107,"wind_gust":4.38,"weather":[{"id":80[...]
