---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<open_weather_key>&exclude=minutely,alerts&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1646551650,"sunrise":1646573135,"sunset":1646614624,"temp":22.93,"feels_like":19.06,"pressure":1016,"humidity":84,"dew_point":19.29,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":3,"wind_deg":84,"wind_gust":4,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}]},"hourly":[{"dt":1646550000,"temp":22.93,"feels_like":13.68,"pressure":1016,"humidity":84,"dew_point":19.29,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":8.16,"wind_deg":96,"wind_gust":7.87,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0.47},{"dt":1646553600,"temp":23.65,"feels_like":14.7,"pressure":1017,"humidity":82,"dew_point":19.49,"uvi":0,"clouds":100,"visibility":1925,"wind_speed":7.96,"wind_deg":95,"wind_gust":8.72,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0.51},{"dt":1646557200,"temp":24.03,"feels_like":15.71,"pressure":1018,"humidity":83,"dew_point":20.12,"uvi":0,"clouds":100,"visibility":774,"wind_speed":7.23,"wind_deg":85,"wind_gust":7.9,"weather":[{"id":600,"main":"Snow","description":"light
        snow","icon":"13n"}],"pop":0.67,"snow":{"1h":0.18}},{"dt":1646560800,"temp":24.26,"feels_like":16.27,"pressure":1018,"humidity":82,"dew_point":20.1,"uvi":0,"clouds":100,"visibility":863,"wind_speed":6.87,"wind_deg":84,"wind_gust":7.45,"weather":[{"id":600,"main":"Snow","description":"light
        snow","icon":"13n"}],"pop":0.71,"snow":{"1h":0.13}},{"dt":1646564400,"temp":24.57,"feels_like":17.29,"pressure":1019,"humidity":80,"dew_point":19.89,"uvi":0,"clouds":100,"visibility":5796,"wind_speed":6.08,"wind_deg":75,"wind_gust":5.79,"we[...]
