---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<mapquest_key>&location=%7B%22location%22=%3E%22denver,co%22%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 07 Mar 2022 05:09:13 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"{\"location\"=>\"denver,co\"}"},"locations":[{"street":"Denver
        Lane","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Louisville-Jefferson
        County","adminArea5Type":"City","adminArea4":"","adminArea4Type":"County","adminArea3":"KY","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"40258","geocodeQualityCode":"B3CCA","geocodeQuality":"STREET","dragPoint":false,"sideOfStreet":"N","linkId":"US/STR/p2/6042534","unknownInput":"","type":"s","latLng":{"lat":38.17368,"lng":-85.8849},"displayLatLng":{"lat":38.17368,"lng":-85.8849},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<mapquest_key>&type=map&size=225,160&locations=38.17368,-85.8849|marker-sm-50318A-1&scalebar=true&zoom=15&rand=1536233906"},{"street":"Denver
        Road","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Osage","adminArea5Type":"City","adminArea4":"","adminArea4Type":"County","adminArea3":"MO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"65536","geocodeQualityCode":"B3CCA","geocodeQuality":"STRE[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<open_weather_key>&exclude=minutely,alerts&lat=38.17368&lon=-85.8849&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":38.1737,"lon":-85.8849,"timezone":"America/Kentucky/Louisville","timezone_offset":-18000,"current":{"dt":1646629753,"sunrise":1646654812,"sunset":1646696551,"temp":60.39,"feels_like":60.49,"pressure":1010,"humidity":93,"dew_point":58.35,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":10.36,"wind_deg":150,"wind_gust":19.57,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}]},"hourly":[{"dt":1646629200,"temp":60.39,"feels_like":60.49,"pressure":1010,"humidity":93,"dew_point":58.35,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":14.05,"wind_deg":194,"wind_gust":40.58,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0.8},{"dt":1646632800,"temp":61.27,"feels_like":61.38,"pressure":1010,"humidity":91,"dew_point":58.62,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":15.64,"wind_deg":206,"wind_gust":43.84,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0.8},{"dt":1646636400,"temp":62.33,"feels_like":62.4,"pressure":1009,"humidity":88,"dew_point":58.73,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":17.45,"wind_deg":202,"wind_gust":49.15,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0.36},{"dt":1646640000,"temp":63.72,"feels_like":63.73,"pressure":1008,"humidity":84,"dew_point":58.8,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":20.74,"wind_deg":201,"wind_gust":52.05,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10n"}],"pop":0.48,"rain":{"1h":0.23}},{"dt":1646643600,"temp":64.76,"feels_like":64.8,"pressure":1006,"humidity":82,"dew_point":59.14,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":21.97,"wind_deg":203,"wind_gust":53.91,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10n"}],"pop":0.62,"rain":{"1h":0.37}},{"dt":1646647200,"temp":64.83,"feels_like":65.01,"pressure":1006,"humidity":85,"dew_point":59.72,"uvi":0,"clouds":100,"visibility":5398,"wind_speed":20.98,"wind_deg":217,"wind_gust":4[...]
